<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookName</key>
		<string>TrangTruyen2</string>
		<key>urlbook</key>
		<string>https://github.com/MaVuong/DemoTruyenOnline/raw/master/Truyen2.lksb.zip</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
	<dict>
		<key>bookName</key>
		<string>Trang truyen moi</string>
		<key>urlbook</key>
		<string>https://github.com/MaVuong/DemoTruyenOnline/raw/master/index.ccbi.zip</string>
		<key>version</key>
		<string>1.0</string>
	</dict>
</array>
</plist>
